<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete meeting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
<div class="container">
    <div class="content" style="width: 40%; margin: 5vw auto;">
        <h3>Type the meeting's title</h3>
        <form class="form">
            <div class="form-group">
                <input id="inputToDelete" class="form-control" type="text" name="email" placeholder="Meeting's title" required>
            </div>
            <button class="btn btn-default btn-delete-with-path" type="button" url-attr="../app/meeting/delete/">Cancel meeting</button>
            <a href="../app" class="btn btn-default" type="button">To home page</a>
        </form>
    </div>
</div>
</body>
</html>